App__FrontendUrl=https://frontend.yourdomain.com
App__DefaultDomain=sho.rt
App__AdminEmail=admin@yourdomain.com
ConnectionStrings__SqlServer=Server=sql_server;Database=WebShortlink;User Id=sa;Password=your_password;TrustServerCertificate=True;
Jwt__SigningKey=MakeSureThisKeyIsAtLeast32CharactersLong!
Redis__Enabled=true
Redis__Configuration=redis:6379
Smtp__Host=smtp.example.com
Smtp__Port=587
Smtp__Username=your_username
Smtp__Password=your_password
Turnstile__Enabled=true
Turnstile__SecretKey=your_turnstile_secret
